<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheBuggger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00CDBE871BB9B39000BC0517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00CDBE9F1BB9B39100BC0517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00CDBEAA1BB9B39100BC0517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
